body {
  background-image: url("https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/13047868_1611524285840240_8308431200890758414_o.jpg");
  background-position: 10px 800px;
  background-attachment:fixed;

  }


h1 {
  background-color:grey;
  color:white;
}
#container{
  background-color:white;
  margin: 55px 150px 50px 150px;
  padding: 5px 25px 25px 25px;
}

p {
  padding:25px;
}
table, td{
  background-color: white;
  padding: 5px 5px 5px 5px;
  outline-style:solid;
  outline-width:1px;
}

th {
  background-color:#4CAF50;
  outline-style: solid;
  outline-width: 1px;
}



div.img {

    background-color:white;
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}	

div.img:hover {
    border: 1px solid #777;
    opacity: .9;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
